@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(button) {
  @include e(group) {
    @include flex(center, stretch);
    @include b(button) {
      margin: 0px;

      &.#{$namespace}-button--icon {
        height: auto;
      }

      &:not(:last-of-type):not(:first-of-type) {
        border-radius: 0px;
        border: 0px;
        &.#{$namespace}-button--border {
          &:before {
            border-left: 0px;
            width: 100%;
          }
          + .#{$namespace}-button--border:not(:last-of-type) {
            &:before {
              border-right: 0px;
              width: calc(100%);
            }
          }
        }
      }
      @include pseudo(last-of-type) {
        border-radius: 0 var(--sax-radius) var(--sax-radius) 0;
      }
      @include pseudo(first-of-type) {
        border-radius: var(--sax-radius) 0 0 var(--sax-radius);
      }
    }
  }
}
