@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(divider) {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
  clear: both;

  @include e(border) {
    position: relative;
    display: block;
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: getColor('divider');
  }

  @include e(text) {
    cursor: default;
    user-select: none;
    position: relative;
    flex-shrink: 0;
    white-space: nowrap;
    background: getColor('white');
    padding: 0 12px;
    font-size: 0.9375em;
  }

  @include e(icon) {
    font-size: 1.25em;
    line-height: 1;
  }

  @each $type in (primary, success, warn, warning, danger, info, dark, light) {
    @include e(border) {
      @include m($type) {
        border-top-color: getColor(if($type == warning, warn, $type));
      }
    }

    @include e(text) {
      @include m($type) {
        color: getColor(if($type == warning, warn, $type));
      }
    }

    @include e(background) {
      @include m($type) {
        background: getColor(if($type == warning, warn, $type));
      }
    }
  }
}
